deep_translator==1.10.1
geopy==2.3.0
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
plotly==5.13.1
python-dotenv==1.0.0
snscrape==0.6.2.20230320
streamlit==1.20.0
tweepy==4.13.0
wordcloud==1.8.2.2
kaleido==0.2.1
HanTa==1.1.1
tweetnlp==0.4.3
umap-learn==0.5.3
sentence-transformers==2.2.2
tqdm==4.65.0
scikit-learn==1.2.2
nltk==3.8.1
openpyxl==3.1.2